/* Banner Heading */
.banner-text{
    text-align: start;
    text-shadow: black 10px 0 10px;
}

/* Grayscale */
.gray-scale{
    filter: grayscale(80%);
}

/* Media Queries for Phone Responsiveness */

@media only screen and (min-width:1200px) {
    .banner-text{
        position: absolute;
        bottom: 600px;
        top: auto;
        left: 0;
    }
    h1{
        font-size: 100px;
    }
}