@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

h1, h2, h3,h4,h5,h6{
  font-family: 'Bebas Neue', cursive;
}
.bebas-font{
  font-family: 'Bebas Neue', cursive;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
